<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Seo -->
    <meta name="description" content="Sitio Web de Frigorifico Trecer que se especialliza en carne porcina.">
   <meta name="keywords"  content="TRECER,CARNE,CARNE DE CERDO,CARNE PORCINA,EMBUTIDOS,CARNE DE VACA,FRIGORIFICO">      
    <title>Hablanos -Trecer Srl</title>
    <link rel="stylesheet" href="../assets/css/archivo.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>
<body>

    <!--Navegador de pagina-->
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="./index.html"><img src="../img/logo/chanchitos (1).png " alt="chanchitos"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./Nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./Productos.html">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./Servicio.html">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./Hablanos.html">Hablanos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        
    </header>


    <main class="hablanos">

    <h2 class="hablanos__titulo">Formulario de Contacto</h2>
    
    <form class="hablanos__formulario">
      <fieldset>
          <legend>Datos Personales</legend>

       <label for="nombre">Nombre y Apellido:</label>
       <input type="text" name="nombre">
       <br>
       <label for="email">Email:</label>
       <input type=text name="email">
       <br>
       <label for="telefono">Telefono:</label>
       <input type="text"  name="telefono">

      </fieldset>    

       <br>

       <label for="Contacto">¿Como desea ser contactado?</label>
       <select> name="Contacto">
           <option value="Email">Email</option>
           <option value="Telefono">Telefono</option>
       </select>
       <br>

      <br>

      <div>Comentarios</div>
      <textarea name="Comentarios">

      </textarea>

      <br>
      <input type="submit" value="Enviar" class="botonesFormulario">
      
       
  </form>
    </main>
    <!-- Pie de Pagina -->
    <footer class="pie bg-dark">

      <p class="pie__texto">Todos los derechos reservados</p>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> 

   
</body>
</html>