<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Seo -->
    <meta name="description" content="Sitio Web de Frigorifico Trecer que se especialliza en carne porcina.">
   <meta name="keywords"  content="TRECER,CARNE,CARNE DE CERDO,CARNE PORCINA,EMBUTIDOS,CARNE DE VACA,FRIGORIFICO">
    <title>Productos -Trecer Srl</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/archivo.css">
    
</head>
<body>
    <!--Navegador de pagina-->
<nav class="navbar navbar-expand-lg fs-6 fixed-top navbar-light bg-dark header">
  <div class="container-fluid">
    <a class="navbar-brand text-white " href="../index.html"><img src="../img/logo/chanchitos3.png" alt="logo trecer"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white fuente" aria-current="page" href="./Nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white fuente" href="./Productos.html">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white fuente" href="./Servicio.html">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white fuente" href="./Hablanos.html">Hablanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <main class="productos">  


      <!-- Cortes de cerdo -->
      <h2 class="productos__titulo">Cortes Porcino</h2>
    
      <img src="../img/Productos/portadacerdo.jpg" class="img-fluid" alt="cerdo">

       <!-- Cards de cerdo  -->
      <div class="container">
       
         <div class="card">
             <img src="../img/Productos/cerdo/matambre-min.jpg">
             <h4>Matambre</h4>
             <p>$600</p>
             <a href="#">Comprar</a>
         </div>
         
         <div class="card">
             <img src="../img/Productos/cerdo/carre-min.jpg">
             <h4>Carre</h4>
             <p>$350</p>
             <a href="#">Comprar</a>
         </div>
         
         <div class="card">
             <img src="../img/Productos/cerdo/pechito-min.jpg">
             <h4>Pechito</h4>
             <p>$390</p>
             <a href="#">Comprar</a>
         </div>
         <div class="card">
          <img src="../img/Productos/cerdo/panceta.jpg">
          <h4>Panceta</h4>
          <p>$630</p>
          <a href="#">Comprar</a>
      </div>
      
      <div class="card">
          <img src="../img/Productos/cerdo/pulpa.jpg">
          <h4>Pulpa</h4>
          <p>$350</p>
          <a href="#">Comprar</a>
      </div>
      
      <div class="card">
          <img src="../img/Productos/cerdo/solomillo.jpg">
          <h4>Solomillo</h4>
          <p>$690</p>
          <a href="#">Comprar</a>
      </div>
         
     </div>
      <!-- Cortes de vaca -->
      <div>
      <h2 class="productos__titulo1">Cortes Bovino</h2>
          
      <img src="../img/Productos/portadavaca.jpg" class="img-fluid" alt="vaca">
      <div class="container">
       <!-- Cards Vaca  -->
        <div class="card">
            <img src="../img/Productos/vaca/asado-min.jpg">
            <h4>Asado</h4>
            <p>$750</p>
            <a href="#">Comprar</a>
        </div>
        
        <div class="card">
            <img src="../img/Productos/vaca/cuadril-min.jpg">
            <h4>Cuadril</h4>
            <p>$790</p>
            <a href="#">Comprar</a>
        </div>
        
        <div class="card">
            <img src="../img/Productos/vaca/lomo-min.jpg">
            <h4>Lomo</h4>
            <p>$990</p>
            <a href="#">Comprar</a>
        </div>

        <div class="card">
          <img src="../img/Productos/vaca/matambre-min-1.jpg">
          <h4>Matambre</h4>
          <p>$720</p>
          <a href="#">Comprar</a>
      </div>
      
      <div class="card">
          <img src="../img/Productos/vaca/bife de chorizo.jpg">
          <h4>Bife de Chorizo</h4>
          <p>$890</p>
          <a href="#">Comprar</a>
      </div>
      
      <div class="card">
          <img src="../img/Productos/vaca/colita.jpg">
          <h4>Colita de Cuadril</h4>
          <p>$820</p>
          <a href="#">Comprar</a>
      </div>
        
    </div>
    </div>
      <!-- Embutidos -->
      <h2 class="productos__titulo1">Embutidos</h2>
          
      <img src="../img/Productos/portadaembutido.jpg" class="img-fluid" alt="embutidos">
      <div class="container">
        <!-- Cards Embutidos  -->
         
         <div class="card">
             <img src="../img/Productos/embutidos/chorizo-min.jpg">
             <h4>Chorizo</h4>
             <p>$490</p>
             <a href="#">Comprar</a>
         </div>
         
         <div class="card">
             <img src="../img/Productos/embutidos/salchicha.jpg">
             <h4>Salchicha Parrillera</h4>
             <p>$590</p>
             <a href="#">Comprar</a>
         </div>
 
         <div class="card">
           <img src="../img/Productos/embutidos/colorado.jpg">
           <h4>Chorizo Colorado</h4>
           <p>$550</p>
           <a href="#">Comprar</a>
       </div>
       
       <div class="card">
           <img src="../img/Productos/embutidos/morcilla-min.jpg">
           <h4>Morcilla</h4>
           <p>$210</p>
           <a href="#">Comprar</a>
       </div>

       <div class="card">
        <img src="../img/Productos/embutidos/bombom.jpg">
        <h4>Morcilla Bombon</h4>
        <p>$230</p>
        <a href="#">Comprar</a>
    </div>
       
       <div class="card">
           <img src="../img/Productos/embutidos/vazca-min.jpg">
           <h4>Morcilla Vazca</h4>
           <p>$390</p>
           <a href="#">Comprar</a>
       </div>
         
     </div>
     </div>

            <div class="nosotros__contenedor1">
 
              <!-- Card que dirije a Nosotros -->
              <div class="card nosotros__contenedor1--card1" style="width: 18rem;">
                <img src="../img/nosotros/nosotros.png" class="card-img-top" alt="Productos">
                <div class="card-body">
                  <h5 class="card-title">Nosotros</h5>
                  <p class="card-text"> Conoce nuestra historia.</p>
                  <a href="./Nosotros.html" class="btn btn-dark">Ir a Nosotros</a>
                </div>
              </div>
              
              
              <!-- Card que dirije a Servicio -->
              <div class="card nosotros__contenedor1--card2" style="width: 18rem;">
                <img src="../img/nosotros/flota-min.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Servicio</h5>
                  <p class="card-text">Conoce como trabajamos.</p>
                  <a href="./Servicio.html" class="btn btn-dark">Ir a Servicios</a>
                </div>
              </div>
              
              <!-- Card que dirije a Hablanos -->
              <div class="card productos__contenedor1--card1" style="width: 18rem;">
                <img src="../img/Productos/hablanos.png" class="card-img-top" alt="Productos">
                <div class="card-body">
                  <h5 class="card-title">Hablanos</h5>
                  <p class="card-text"> Comunicate con nosotros</p>
                  <a href="./Hablanos.html" class="btn btn-dark"> Ir a Hablanos</a>
                </div>
              </div>
              
              
              
              </div>
                        
            
    </main>
    <!-- Footer -->
<footer class="footer">
  <div class="container__footer">
    
    <div class="row-c">
      <div class="footer-col">
        <h4>Sitio</h4>
        <ul>
          <li><a href="./Nosotros.html">Nosotros</a></li>
          <li><a href="./Productos.html">Productos</a></li>
          <li><a href="./Servicio.html">Servicio</a></li>
          <li><a href="./Hablanos.html">Hablanos</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Redes</h4>
        <div class="social-links">
          <a href="https://www.facebook.com"><img src="../img/footer/logotipo-circular-de-facebook.png" alt="logofacebook" width="30px" height="30px"></a>
          <a href="https://www.linkedin.com"><img src="../img/footer/linkedin.png" alt="logofacebook" width="30px" height="30px"></a>
          <a href="https://www.whatsapp.com"><img src="../img/footer/whatsapp (1).png" alt="logofacebook" width="30px" height="30px"></a>
      </div>


    </div>

    <div class="footer-col">
      <h4>Direccion</h4>
      <ul>
        <li><a href="https://goo.gl/maps/PGCYpzsrA9WNfipDA">Quilpo 22,Villa del Prado</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Telefono</h4>
      <ul>
        <li><a href="./Hablanos.html">0351-5957024</a></li>
      </ul>
    </div>
  </div>

  </div>


</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> 
   
</body>
</html>