<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Seo -->
    <meta name="description" content="Sitio Web de Frigorifico Trecer que se especialliza en carne porcina.">
   <meta name="keywords"  content="TRECER,CARNE,CARNE DE CERDO,CARNE PORCINA,EMBUTIDOS,CARNE DE VACA,FRIGORIFICO">
    <title>Productos -Trecer Srl</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/archivo.css">
    
</head>
<body>
    <!--Navegador de pagina-->
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html"><img src="../img/logo/chanchitos (1).png " alt="chanchitos"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./Nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./Productos.html">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./Servicio.html">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./Hablanos.html">Hablanos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        
    </header>

    <main class="productos">  

            <!-- Cortes Porcinos -->
            <h2 class="productos__titulo">Cortes Porcino</h2>
        
            <div class="productos__contenedor">

              <img class="productos__imagen" src="../img/Productos/cerdo/carre-min.jpg">

              <img class="productos__imagen" src="../img/Productos/cerdo/carredes.jpg">

              <img class="productos__imagen" src="../img/Productos/cerdo/panceta.jpg">

                <img class="productos__imagen" src="../img/Productos/cerdo/pechito-min.jpg">
                    
                <img class="productos__imagen" src="../img/Productos/cerdo/matambre-min.jpg"/>

                <img class="productos__imagen" src="../img/Productos/cerdo/pulpa.jpg"/>

                <img class="productos__imagen" src="../img/Productos/cerdo/bondiola-min.jpg">

                <img class="productos__imagen" src="../img/Productos/cerdo/solomillo.jpg">
            </div>  

           <br>    

            <!-- Cortes Vacunos -->
           <h2 class="productos__titulo">Cortes Vacunos</h2>

            <div class="productos__contenedor">

                 <img class="productos__imagen" src="../img/Productos/vaca/matambre-min-1.jpg"/>

                 <img class="productos__imagen" src="../img/Productos/vaca/lomo-min.jpg"/>

                 <img class="productos__imagen" src="../img/Productos/vaca/asado-min.jpg"/>

                 <img class="productos__imagen" src="../img/Productos/vaca/cuadril-min.jpg"/>


            </div>  

            <br>

            <!-- Embutidos -->
            <h2 class="productos__titulo">Embutidos</h2>

            <div class="productos__contenedor">
              
                <img class="productos__imagen" src="../img/Productos/embutidos/chorizo-min.jpg"/>

                <img class="productos__imagen" src="../img/Productos/embutidos/salchicha-min.jpg"/>

                <img class="productos__imagen" src="../img/Productos/embutidos/morcilla-min.jpg"/>

                <img class="productos__imagen" src="../img/Productos/embutidos/vazca-min.jpg"/>
            </div>  


            <div class="nosotros__contenedor1">
 
              <!-- Card que dirije a Nosotros -->
              <div class="card nosotros__contenedor1--card1" style="width: 18rem;">
                <img src="../img/nosotros/nosotros.png" class="card-img-top" alt="Productos">
                <div class="card-body">
                  <h5 class="card-title">Nosotros</h5>
                  <p class="card-text"> Conoce nuestra historia.</p>
                  <a href="./Nosotros.html" class="btn btn-primary">Ir a Nosotros</a>
                </div>
              </div>
              
              
              <!-- Card que dirije a Servicio -->
              <div class="card nosotros__contenedor1--card2" style="width: 18rem;">
                <img src="../img/nosotros/flota-min.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Servicio</h5>
                  <p class="card-text">Conoce como trabajamos.</p>
                  <a href="./Servicio.html" class="btn btn-primary">Ir a Servicios</a>
                </div>
              </div>
              
              <!-- Card que dirije a Hablanos -->
              <div class="card productos__contenedor1--card1" style="width: 18rem;">
                <img src="../img/Productos/hablanos.png" class="card-img-top" alt="Productos">
                <div class="card-body">
                  <h5 class="card-title">Hablanos</h5>
                  <p class="card-text"> Comunicate con nosotros</p>
                  <a href="./Hablanos.html" class="btn btn-primary"> Ir a Hablanos</a>
                </div>
              </div>
              
              
              
              </div>
                        
      


            
    </main>
      <!-- Pie de Pagina -->
    <footer class="pie bg-dark">

        <p class="pie__texto">Todos los derechos reservados</p>
  
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> 
   
</body>
</html>