<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Seo -->
    <meta name="description" content="Sitio Web de Frigorifico Trecer que se especialliza en carne porcina.">
   <meta name="keywords"  content="TRECER,CARNE,CARNE DE CERDO,CARNE PORCINA,EMBUTIDOS,CARNE DE VACA,FRIGORIFICO">
    <title>Servicio -Trecer Srl</title>
    <link rel="stylesheet" href="../assets/css/archivo.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">    
</head>
<body>
    <!--Navegador de pagina-->
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html"><img src="../img/logo/chanchitos (1).png " alt="chanchitos"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./Nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./Productos.html">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./Servicio.html">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./Hablanos.html">Hablanos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        
    </header>

    <main class="servicio">
     
    <h2 class="servicio__titulo">Servicios</h2>    
        
    

    <div class="servicio__texto">
      <p>El servicio es nuestra prioridad y lo que nos diferencia de la competencia.De esta manera se distribuyen todos los dias en Cordoba , Villa Carlos Paz y el Gran Cordoba. Tambien se realizan entregas semanales durante todo el anio a Santa Rosa de Calamuchita , Villa General Belgrano, La Cumbresita, Mina Clavero, entre otras. 
      </p>
    </div>

    <!-- Imagenes de mapas de los lugares -->

    <div class="servicio__contenedor">

    <img class="servicio__imagen" src="../img/servicios/CBA-min.jpg" alt="Cordoba"/>

    
    <img class="servicio__imagen" src="../img/servicios/vcp.png" alt="Cordoba"/>


    
    <img class="servicio__imagen" src="../img/servicios/str-min.jpg" alt="Cordoba"/>

  </div>

  <h2 class="servicio__titulo">Flota de vehiculos</h2>    

  <div class="servicio__texto">

  <p>Contamos con una gran flota de vehiculos propios de distintas capacidadses que van desde los 500 hasta los 5000 kilogramos para utilizar el vehiculo optimo para cada entrega.Todos ellos aprobados por SENASA, el ente nacional que regula la activdad.
  </p>

  <div class="servicio__contenedor">

    <img class="servicio__imagen" src="../img/servicios/fiorinoed.png" alt="Fiorino"/>

    
    <img class="servicio__imagen" src="../img/servicios/camionetaed.png" alt="camioneta"/>

    
    <img class="servicio__imagen" src="../img/servicios/camioned.png" alt="Camion"/>

  </div>

    
  </div>

  <div class="nosotros__contenedor1">
 
    <!-- Card que dirije a Nosotros -->
    <div class="card nosotros__contenedor1--card1" style="width: 18rem;">
      <img src="../img/nosotros/cortedecerdo-min.jpg" class="card-img-top" alt="Productos">
      <div class="card-body">
        <h5 class="card-title">Productos</h5>
        <p class="card-text"> Conoce nuestra historia.</p>
        <a href="./Nosotros.html" class="btn btn-primary">Ir a Nosotros</a>
      </div>
    </div>
    
    
    <!-- Card que dirije a Nosotros -->
    <div class="card nosotros__contenedor1--card2" style="width: 18rem;">
      <img src="../img/nosotros/nosotros.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nosotros</h5>
        <p class="card-text">Conoce como trabajamos.</p>
        <a href="./Nosotros.html" class="btn btn-primary">Ir a nosotros</a>
      </div>
    </div>
    
    <!-- Card que dirije a Hablanos -->
    <div class="card productos__contenedor1--card1" style="width: 18rem;">
      <img src="../img/Productos/hablanos.png" class="card-img-top" alt="Productos">
      <div class="card-body">
        <h5 class="card-title">Hablanos</h5>
        <p class="card-text"> Comunicate con nosotros</p>
        <a href="./Hablanos.html" class="btn btn-primary"> Ir a Hablanos</a>
      </div>
    </div>
    
    
    
    </div>

  </main>`

    <!-- Pie de Pagina -->
    <footer class="pie bg-dark">

        <p class="pie__texto">Todos los derechos reservados</p>
  
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> 
</body>
</html>