/*Declaracion de bloques---BEM*/
/*Bloque  0 */
.fuente {
  font-family: "Montserrat", sant serif; }

.inicio__imagen {
  margin-top: 30px;
  border-radius: 10px; }

.index__titulo {
  color: black;
  text-align: center;
  font-family: "Montserrat", sant serif;
  animation-duration: 2s;
  animation-name: aparecer;
  margin-top: 100px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.index__texto {
  color: #7a1616;
  text-align: center;
  font-style: italic;
  font-family: "Montserrat", sant serif;
  animation-duration: 2s;
  animation-name: aparecer;
  margin-top: 15px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*Bloque  1 */
/*Nosotros*/
.nosotros {
  background-color: rgba(255, 255, 255, 0.2); }

.nosotros__titulo1 {
  color: black;
  text-align: center;
  margin-top: 20px;
  font-family: "Montserrat", sant serif;
  animation-duration: 2s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.nosotros__titulo {
  color: black;
  text-align: center;
  margin-top: 150px;
  font-family: "Montserrat", sant serif;
  animation-duration: 2s;
  animation-name: aparecer;
  margin-top: 100px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.nosotros__texto1 {
  color: #7a1616;
  font-family: "Montserrat", sant serif;
  font-style: italic;
  animation-duration: 2s;
  animation-name: aparecer;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.nosotros__imagen {
  border-radius: 15px;
  margin-top: 20px; }

.nosotros__texto {
  color: #7a1616;
  font-family: "Montserrat", sant serif;
  animation-duration: 2s;
  animation-name: aparecer;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.nosotros__imagen {
  border-radius: 20px;
  margin-top: 0px; }

.nosotros__contenedor1 {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around; }

/*Bloque  2 */
/*Productos*/
.productos {
  background-color: #fcf9f9;
  height: auto; }

.productos__titulo {
  color: #7a1616;
  margin-top: 100px;
  font-style: italic;
  margin-bottom: 30px;
  font-family: "Montserrat", sant serif;
  animation-duration: 2s;
  text-align: center;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.productos__titulo1 {
  color: black;
  margin-top: 120px;
  margin-bottom: 30px;
  font-family: "Montserrat", sant serif;
  animation-duration: 2s;
  text-align: center;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.productos__titulo {
  color: #7a1616;
  margin-top: 100px;
  font-style: italic;
  margin-bottom: 30px;
  font-family: "Montserrat", sant serif;
  animation-duration: 2s;
  text-align: center;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.productos__titulo1 {
  color: #7a1616;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Montserrat", sant serif;
  font-style: italic;
  animation-duration: 2s;
  text-align: center;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.title {
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
  margin-top: 80px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif; }

.container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.container .card {
  width: 330px;
  height: 330px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s; }

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.container .card img {
  width: 330px;
  height: 220px; }

.container .card h4 {
  font-weight: 600; }

.container .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300; }

.container .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db; }

/*Bloque  3 */
/*Servicio*/
.servicio {
  background-color: white; }

.servicio__titulo {
  color: black;
  text-align: center;
  font-family: 'Montserrat', sant serif;
  animation-duration: 2s;
  animation-name: aparecer;
  margin-top: 100px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.servicio__titulo1 {
  color: black;
  text-align: center;
  font-family: 'Montserrat', sant serif;
  animation-duration: 2s;
  animation-name: aparecer;
  margin-top: 20px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.servicio__texto {
  color: black;
  font-family: "Montserrat", sant serif;
  animation-duration: 2s;
  margin-bottom: 30px;
  animation-name: aparecer;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify; }

.servicio__contenedor {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly; }
  .servicio__contenedor .servicio__imagen {
    padding-top: 10px; }

/*Bloque  4 */
/*Hablanos*/
.hablanos {
  background: #181818;
  color: #fff;
  line-height: 1.6;
  font-family: "Montserrat", sant serif;
  padding: 0 1.5em; }

.container__hablanos {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }

.hablanos__ul {
  list-style: none;
  padding: 0; }

.logo {
  text-align: center;
  font-size: 3em; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

.contact-wrapper > * {
  padding: 1em; }

.contact-form {
  background: #222222; }

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contact-form form label {
  display: block; }

.contact-form form p {
  margin: 0;
  padding: 1em; }

.contact-form form .block {
  grid-column: 1 / 3; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #7a1616; }

.contact-form form button {
  background: #7a1616;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.contact-form form button:hover,
.contact-form form button:focus {
  background: #7a1616;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0; }

/* CONTACT INFO */
.contact-info {
  background: #000; }

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0; }

/* LARGE SIZE */
@media (min-width: 700px) {
  body {
    padding: 0 4em; }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contact-wrapper > * {
    padding: 2em; }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left; } }

.hablanos__contenedor {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  margin-bottom: 20px; }

.hablanos__contenedor1--card1 {
  margin-top: 60px; }

.contacto {
  background-size: cover;
  padding: 2rem 0; }

.formularioDos {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  font-family: "Montserrat", sant serif;
  background: rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 16px; }

h3 {
  font-family: "Montserrat", sant serif;
  color: #fcf9f9;
  text-align: center;
  margin-bottom: 20px; }

input, textarea {
  outline: none;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; }

textarea {
  resize: both;
  max-height: 300px;
  min-height: 100px;
  max-width: 100%; }

.botonForm {
  background: #6a6b6d;
  color: #fff;
  padding: 20px;
  font-size: 15px;
  font-family: "Montserrat", sant serif; }

.boton:hover {
  cursor: pointer; }

/*Bloque  5 */
/*Footer*/
.container__footer {
  max-width: 1170px;
  margin: auto; }

.row-c {
  display: flex;
  flex-wrap: wrap; }

ul {
  list-style: none; }

.footer {
  background-color: #24262b;
  padding: 70px 0; }

.footer-col {
  width: 25%;
  padding: 0 15px; }

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative; }

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px; }

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px; }

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease; }

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px; }

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease; }

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff; }

.direccion {
  color: #ffffff;
  font: "Montserrat", sant serif; }

@media (max-width: 574px) {
  .footer-col {
    width: 100%; } }

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px; } }
